
@{
    ViewData["Title"] = "ForgetPassword";
}

<div class="container">
    <div class="page-title">
        <h5>استعادة كلمة المرور</h5>
    </div>
    <div class="shadow p-3 bg-white rounded">الرجاء ادخال بريدك الالكتروني ليتم ارسال التفعيل علي هذا البريد</div>
    @if (TempData["success"] != null)
    {
        <div><p class="alert alert-success">@TempData["Success"]</p></div>
    }
    <div class="row">
        <div class="col-md-4">
            @{
                if (ViewBag.msg != null)
                {
                    <div class="text-danger">@ViewBag.msg</div>
                }
            }

            <form asp-action="ForgetPassword">
                <div class="form-group">
                    <label class="control-label"></label>
                    <input type="email" class="form-control" placeholder="Email Address" name="email" required />
                </div>
                <div class="form-group">
                    <input type="submit" value="ارسال" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Login">لدي حساب سابق</a>
    </div>
</div>


